body{
    font-family: "Lucida Sans";
    font-size: 12px;
}
 
#wrap{
    width: 1024px;
}
 
ul.products{
    list-style-type: none;
    width: 525px;
    margin: 0;
    padding: 0;
}
 
ul.products li{
    background: #eeeeee;
    border: 1px solid #d3d3d3;
    padding: 5px;
    width: 150px;
    text-align: center;
    float: left;
    margin-right: 10px;
}

ul.products h3{
    margin: 0;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
}
 
ul.products small{
    display: block;
}
 
ul.products form fieldset{
    border: 0px;
}
 
ul.products form label{
    font-size: 12px;
}
 
ul.products form input[type=text]{
    width: 18px;
    background: #FFF;
    border: 1px solid #d3d3d3;
}





    ::selection{ background-color: #E13300; color: white; }
    ::moz-selection{ background-color: #E13300; color: white; }
    ::webkit-selection{ background-color: #E13300; color: white; }

    body {
        background-color: #fff;
        margin: 40px;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
    }

    a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
    }

    h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
    }

    h3{
        border-bottom: 1px solid #D0D0D0;

    }

    code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
    }

    #body{
        margin: 0 15px 0 15px;
    }
    
    p.footer{
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
    }
    
    #container{
        margin: 10px;
        border: 1px solid #D0D0D0;
        -webkit-box-shadow: 0 0 8px #D0D0D0;
    }